
.banner {
  margin: 10px;
  background-color: rgb(255, 203, 216);
  padding: 10px;
  border-radius: 30px;
  /* height: 150px; */
  /* border: 1px solid black; */
}

.banner .label-container {
  align-items: center;
}

.banner .label-container .label {
  color: black;
  background-color: rgb(183, 143, 203);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  width: max-content;
  margin-left: 50%;
  transform: translateX(-50%);
  /* padding-top: 10px; */
}

.banner .therapists-list {
  /* width: 100px; */
  height: 70px;
  
  /* display: block; */
  display: grid;
  overflow: auto;
  grid-template-columns: auto auto auto;
}

.banner .therapists-list .therapist {
  border-radius: 10px;
}

.main-screen {
  background-color: azure;
  height: 100%;
}

.main-screen .video-container {
  align-items: center;
  border-radius: 10px;
  background-color: rgb(183, 143, 203);
}

.main-screen .video-container .video-iframe {
  margin-left: 50px;
  height: 500px;
  width: 1000px;
}

.leave-button {
  position: fixed;
  border-radius: 10px;
  background-color: red;
  padding: 10px;
  border: 1px solid black;
  top: 635px;
  left: 1275px;
  /* visibility: show; */
}

.face-sentiment {
  position: fixed;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  top: 175px;
  left: 1275px;
  /* visibility: show; */
}

iframe {
  left: 100px;
  justify-content: center;
}

.App {
  text-align: center;
  /* background-color: rgb(183, 143, 203); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
